* {
    box-sizing: border-box;
}

:root {
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
}

body {
    font-family: var(--sans);
    background-color: var(--black);
    margin: 0;
    padding: 0;
    color: var(--white);
    font-size: var(--font-size);
}

/*Gradient line style*/
.gradient {
    background: linear-gradient(90deg, rgba(255, 23, 228, 1) 0%, rgba(134, 251, 251, 1) 100%);
    height: 2px;
    padding: 0;
}

/*The nav bar style*/
nav h1 a {
    font-family: var(--sans);
}

nav [class*="fa-"] {
    font-size: 150%;
    color: var(--aqua);
}

nav [class*="fa-"]:hover {
    color: var(--magenta);
}

nav {
    font-family: var(--mono);
    font-size: 80%;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav a {
    color: var(--white);
    text-decoration: none;
    display: block;
}

.fa-solid.fa-code {
    font-size: 100%;
}

nav a:hover {
    color: var(--magenta);
}


nav li:first-child {
    flex-basis: 100%;
    text-align: center;

}

.button {
    background-color: var(--magenta);
    padding: 0.5rem;
    border-radius: 5px;
}

.button:hover {
    color: var(--white);
    background-color: var(--hotmag);
}

@media(min-width:800px) {

    nav {
        max-width: 1200px;
        margin: 0 auto;
    }

    nav li:first-child {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }


}

span.yaqub {
    font-size: 4rem;
    color: var(--aqua);
    font-family: var(--sans);
    display: block;
}


/*The style to intro section*/
.intro {
    padding: 4rem 1rem 10rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.intro-text {
    font-size: 1rem;
    line-height: 1.5;
    font-family: var(--sans);
}

.intro-text.name {
    font-family: var(--mono);
}

.intro h2 {
    font-size: 4rem;
    font-weight: normal;
    margin: 0;
}

/*The contact page style*/
.contact-me {
    text-align: center;
    color: var(--white);
    font-family: var(--sans);
    margin: 0 auto;
    padding: 3rem 0;
    width: 100%;
    max-width: 400px;
    min-width: none;
    

}
.contact-me p{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.mail a {
    color: var(--white);
    text-decoration: none;
    background-color: var(--hotmag);
    border-radius: 5px;
    font-family: var(--mono);
    padding: 0.5rem;
}

.mail a:hover {
    text-decoration: none;
    background-color: var(--magenta);
}

.contact-me p:last-child {
    margin-top: 3rem;
}

.contact-overall {
    background-color: var(--plum);

}

/*The footer style*/
.footer {
    font-size: var(--font-size);
    color: var(--white);
    text-align: center;
    font-family: var(--sans);
    padding: 4rem 0;
}

.footer [class *="fa-"] {
    font-size: 150%;
}

.footer ul {
    gap: 2rem;
    list-style: none;
    display: flex;
    flex-basis: row wrap;
    align-content: center;
    justify-content: center;
    color: var(--magenta);
}

/*Project section styling*/
#projects {
    background-color: var(--dkblue);
    margin: 0;
    padding-left: 1.0rem;
    padding-right: 1.0rem;
    padding-top: 1rem;
}

.projects.text {
    font-family: var(--sans);
    font-size: var(--font-size);
    color: var(--white);
}

.projects.text.header {
    padding-top: 2rem;
}

h2.projects.text {
    font-size: 2.5rem;
    margin-bottom: calc(2.5rem * 1.5);
}

h3.projects.text {
    color: var(--aqua);
    margin: 0;
}

h4.projects.text {
    font-size: 1.2rem;
    font-family: var(--mono);
    margin: 0;
}

img {
    width: 100%;
}

.projects.text a {
    color: var(--magenta);
}

.projects-img {
    margin: 2rem 0 4rem 0;
    border-top: 1px solid var(--aqua);
    border-left: 1px solid var(--aqua);
    border-radius: 25px;
    padding: 1rem;
}

.projects.text.background {
    background-color: var(--black);
    padding: 1.0rem;
    border-radius: 10px;
    color: var(--white);
    font-size: 1rem;
    line-height: 1.5rem;
}

ul.projects.text {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 1.0rem;
    margin: 0;
    font-size: 1rem;
}

@media(min-width: 550px) {
    article {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 3rem;
    }

    .projects-img {
        grid-column: 1/6;
        grid-row: 1/2;
    }

    .text-div {
        order: 2;
        text-align: right;
        grid-column: 5/11;
        grid-row: 1/2;
    }

    ul.projects.text {
        justify-content: flex-end;
    }

    .text-div.reverse {
        text-align: left;
        grid-column: 1/7;
        order: 2;
    }

    .projects-img.reverse {
        grid-column: 6/11;
        grid-row: 1/2;
    }

    ul.projects.text.reverse {
        justify-content: flex-start;
    }

    .contact-me {
        word-break: normal;
    }
}